<div class="container text-center my-5">
    <h1 class="display-4 text-white">404 - Access Denied</h1>
    <p class="lead zoom-area text-white">You do not have access to this page.</p>
    <section class="error-container">
      <span class="four"><span class="screen-reader-text">4</span></span>
      <span class="zero"><span class="screen-reader-text">0</span></span>
      <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container mt-4">
      <a href="/" class="more-link">Back to Log In Page</a>
    </div>
  </div>
  