<div class="language-selector d-flex align-items-center">
  <img src="assets/globe.png" alt="Globe Icon" class="globe-icon me-2">
  <select 
    class="form-select language-dropdown" 
    [(ngModel)]="selectedLanguage" 
    (change)="onLanguageChange($event)">
    <option 
      *ngFor="let lang of languages" 
      [value]="lang.value" 
      [ngClass]="{'selected-option': lang.value === selectedLanguage}">
      {{ lang.label }}
    </option>
  </select>
  <i class="arrow-icon"></i>
</div>

<div *ngIf="dropdownVisible" class="language-dropdown-wrapper">
  <select 
    class="form-select language-dropdown" 
    [(ngModel)]="selectedLanguage" 
    (change)="onLanguageChange($event)">
    <option 
      *ngFor="let lang of languages" 
      [value]="lang.value" 
      [ngClass]="{'hovered-option': lang.value === hoveredLanguage}">
      {{ lang.label }}
    </option>
  </select>
</div>
