<div 
  class="language-selector" 
  (click)="toggleDropdown()" 
  [ngClass]="{ open: dropdownVisible }">
  <img src="assets/globe.png" alt="Globe Icon" class="globe-icon" />
  <span 
    class="selected-language" 
    [ngClass]="{ 'selected': selectedLanguage }">
    {{ getLanguageLabel(selectedLanguage) }}
  </span>
  <img src="assets/black-arrow.ico" alt="Arrow Icon" class="arrow-icon" /> <!-- Replaced with image -->
</div>

<div 
  *ngIf="dropdownVisible" 
  class="language-dropdown-wrapper">
  <div 
    *ngFor="let lang of languages" 
    class="language-dropdown-option"
    [ngClass]="{
      selected: lang.value === selectedLanguage
    }"
    (click)="onLanguageChange(lang.value)">
    {{ lang.label }}
  </div>
</div>
